body {
    background-color: rgb(123, 128, 148);
}

.mainRepComponent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;  
}
.allSection {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    padding: 5px;
    margin: 10px;
}
.rep {
    flex-direction: column;
    align-items: center;
    
}
.rep__photo {
    max-width: 150px;
    width: 100%;
    height: auto;
}

img {
    border: solid 5px whitesmoke;
}




